{% extends 'base.html.twig' %}

{% block title %}Tous nos composants
{% endblock %}

{% block body %}


	<div class="container-fluid d-flex justify-content-center p-5">

		<div class="col-md-4 col-lg-5">
			<div class="card shadow-sm">

				<img src="{{produit.image}}" class="img-fluid p-1 col-12" alt="">
				<div class="card-body">
					<h3 class="title text-center p-1">{{produit.nom}}</h3>
					<p class="card-text">
						{{produit.description}}
						- This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					<hr>
					<p class="text-center fs-2 fw-bold">{{produit.prix}}€</p>
					<div class="d-flex justify-content-between align-items-center">
						<div class="btn-group">
							<button type="button" class="btn btn-sm btn-outline-secondary">Ajouter</button>

						</div>
						<small class="text-muted">catégorie</small>
					</div>
				</div>
			</div>

			<h4 class="text-muted my-5 text-center">Votre avis compte...</h4>

			{{ form_start(form, {'attr' :{'class' : 'col-md7 mx-auto'} }) }}

			{{ form_row(form.auteur) }}
			{{ form_row(form.contenu) }}

			<button class="btn btn-primary" type="submit">Poster</button>

			{{ form_end(form)}}

			<h4 class="my-2 mx-auto text-muted text-center">Vos réactions...</h4>

			<section style="overflow: auto; max-height: 40vh !important" class="my-5 text-center col-md-7 mx-auto bg-light p-2">

				

				{% for avis in produit.avis %}

					<div class="mx-auto alert alert-light text-primary p-2">
						<span>
							<strong>Posté par {{ avis.auteur }}</strong>
						</span>
						<small class="fs-italic">
							le
							{{ avis.createdAt | date('d/m/Y') }}
							à
							{{ avis.createdAt | date('H:i:s') }}
						</small>

						<p class="text-center">{{ avis.contenu }}</p>
						<hr>
					</div>

				{% endfor %}

			</section>


		</div>


	</div>


{% endblock %}
