{% extends 'base.html.twig' %}

{% block title %}BACKOFFICE
{% endblock %}

{% block body %}

	<div class="container my-4">
		<h2 class="text-center text-white bg-primary mx-auto p-1 mt-5">Tous les produits enregistrés en base</h2>

        <div class="row justify-content-center">
            <a href="{{ path("app_produit_ajouter") }}" class="btn btn-primary col-md-5 mx-auto">Ajouter un produit</a>
        </div>

		<table class=" table col-md-7 col-lg-5 col-10 mx-auto mt-5 resp-table table-responsive">
			<thead>
				<tr class="text-center">
					{% for colonne in colonnes %}
						{% if colonne != 'id' %}
							<th>{{ colonne }}</th>
						{% endif %}
					{% endfor %}
                        	<th>action</th>
				</tr>
			</thead>
			<tbody>
				{% for produit in produits %}
					<tr class="text-center">
						<td class="align-middle">{{ produit.nom }}</td>
						<td class="align-middle">{{ produit.description }}</td>
						<td class="align-middle">{{ produit.prix }}</td>
						<td><img class="img-fluid" src="{{ produit.image }}" alt="{{ produit.nom }}"></td>
						<td class="align-middle">{{ produit.stock }}</td>
                        <td class="align-middle gap-1">
                            <a href="{{ path('app_produit_editer', {'id' : produit.id }) }}" class="p-2 rounded text-center text-white bg-warning"><i class="fa-solid fa-pen"></i></a>
                            <a href="{{ path('app_produit_supp', {'id' : produit.id }) }}" class="p-2 rounded text-center text-white bg-danger"><i class="fa-solid fa-trash" onClick="return confirm('Etes vous sur de vouloir supprimer ce produit ?');"></i></a>
                            <a href="{{ path('app_detail_produit', {'id' : produit.id }) }}" class="p-2 rounded text-center text-white bg-info"><i class="fa-solid fa-eye"></i></a>
                        </td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

   

{% endblock %}
