{% extends 'base.html.twig' %}

{% block title %}BACKOFFICE: Gestion des utilisateurs
{% endblock %}

{% block body %}


	<div class="container py-5">

		<div class="row justify-content-center row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-3">

			{% for user in users %}

				<div class="card text-center p-1 m-1">
					<div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
						<img src="{{ user.image }}" class="img-fluid"/>
						<a href="#">
							<div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
						</a>
					</div>
					<div class="card-header">{{ user.email }}</div>

					<div class="card-body">
						<h5 class="card-title">{{ user.nom }}
							{{ user.prenom }}</h5>
						<p class="card-text">{{ user.adresse }}</p>
						<p class="card-text">{{ user.ville }}
							{{ user.codePostal }}</p>
						<p class="card-text">{{ user.pays }}</p>
					</div>

					<div class="card-footer text-center">
						<a href="#" class="btn-sm btn-info m-1">
							<i class="fa-solid fa-eye"></i>
						</a>
						<a href="{{ path('app_admin_user_editer', {'id' : user.id }) }}" class="btn-sm btn-warning m-1">
							<i class="fa-solid fa-pen"></i>
						</a>
						<a onclick="return confirm('Etes vous sur de vouloir supprimer cet utilisateur ?');" href="{{ path('app_user_supprimer', {'id' : user.id }) }}" class=" btn-sm btn-danger m-1">
							<i class="fa-solid fa-trash"></i>
						</a>
					</div>

				</div>

			{% endfor %}

		</div>
	</div>

{% endblock %}
