{% extends 'base.html.twig' %}

{% block title %}Categorie
{% endblock %}

{% block body %}

	<div class="container my-4">

		<h1 class="display-4 col-md-7 text-center text-white bg-primary mx-auto show-lg my-2">Categorie</h1>

		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ user.id }}</td>
				</tr>
				<tr>
					<th>Nom</th>
					<td>{{ user.nom }}</td>
				</tr>
				<tr>
					<th>Prénom</th>
					<td>{{ user.prenom }}</td>
				</tr>
                <tr>
					<th>Email</th>
					<td>{{ user.email }}</td>
				</tr>
                <tr>
					<th>Role</th>
					<td>{{ user.roles[0] }}</td>
				</tr>
			</tbody>
		</table>

		<div class="text-center mt-4">
			<a href="{{ path('app_admin_user_index') }}" class="p-2 rounded text-center text-white bg-primary"><i class="fa-solid fa-list"></i></a>

			<a href="{{ path('app_admin_cat_edit', {'id': categorie.id}) }}" class="p-2 rounded text-center text-white bg-warning"><i class="fa-solid fa-pen"></i></a>

			<a href="{{ path('app_categorie_supp', {'id' : categorie.id }) }}" class="p-2 rounded text-center text-white bg-danger" onClick="return confirm('Etes vous sur de vouloir supprimer cette catégorie ?');"><i class="fa-solid fa-trash"></i></a>
		</div>

	</div>


{% endblock %}
