{% extends "base.html.twig" %}

{% block title %}BACKOFFICE: MODIFIER UN UTILISATEUR{% endblock %}

{% block body %}

    <div class="container">

        <h1 class="display4 text-center bg-primary text-white my-5">Modification d'un utilisateur</h1>

        {{ form_start(form, {'attr' : {'class' : 'col-md-6 col-lg-4 mx-auto'}}) }}

            {{ form_row(form.nom) }}
            {{ form_row(form.prenom) }}
            {{ form_row(form.email) }}
            {{ form_row(form.roles) }}
            {{ form_row(form.image) }}
            {{ form_row(form.adresse) }}
            {{ form_row(form.codePostal) }}
            {{ form_row(form.ville) }}
            {{ form_row(form.pays) }}

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Modifier l'utilisateur</button>
                <a href="{{ path('app_admin_user') }}" class="btn btn-outline-primary py-2">Retour</a>
            </div>

        {{ form_end(form) }}

    </div>

{% endblock %}